@media only screen and (max-width: 768px) {
  .img-logo {
    width: 300px;
    height: auto;
    margin: 20px;
  }
   
  .banner {
    height: 350px;
    .hapo-banner {
      transform: translateY(25%);
      margin-left: 30px;
      .banner-learn {
        @include font(normal, 30px, 'UTM BryantLG', 37px, #11114E);
      }

      .banner-title {
        @include font(bold, 30px, 'UTM BryantLG', 37px, #11114E);
        img {
          width: 35px;
          height: 35px;
        }
      }

      .banner-des {
        letter-spacing: -0.05em;
        height: 40px;
        margin-top: 10px;
        @include font(normal, 16px, 'UTM BryantLG', 20px, #505353);
      }

      .btn-start {
        padding: 12px 40px;
        margin-top: 20px;
        -webkit-text-stroke-width: 0.5px;
        @include font(normal, 16px, 'UTM BryantLG', 20px, #FFFFFF);
      }
    }
  }
  .footer-menu {
    a {
      @include font(normal, 18px, 'UTM BryantLG', 22px, $mainfootercolor);
    }
  }

  .footer-logo-note {
    margin-left: 45px;
    @include font(normal, 16px, 'UTM BryantLG', 20px, $mainfootercolor);
  }

  .footer-logo {
    margin-bottom: 3px;
  }

  .social {
    margin: auto;
    a {
      margin: 0;
      img {
        width: 40px;
        height: 40px;
      }

      p {
        @include font(normal, 18px, 'UTM BryantLG', 20px, $mainfootercolor);
      }
    }
  }
  .banner-second {
    padding-bottom: 80px;
    .become-title {
      @include font(bold, 35px, 'UTM BryantLG', 43px, $mainfootercolor);
      padding-top: 40px;
    }

    .btn-start-learn {
      padding: 10px;
      margin-top: 20px;
      @include font(bold, 20px, 'UTM BryantLG', 25px, $bannersecondcolor);
      border-radius: 35px;
    }
  }

  .hapo-title {
    margin-top: 60px;
    @include font(bold, 50px, 'UTM BryantLG', 61px, $hapotitlecolor);
    .underline {
      border-bottom: 4px solid #B2D235;
      border-radius: 3px;
      padding-bottom: 10px;
    }
  }

  .statistic {
    .statistic-body {
      .statistic-learn {
        margin-top: 28px;
        letter-spacing: -0.05em;
        span {
          @include font(bold, 40px, 'UTM BryantLG', 49px, #505353);
        }
        p {
          @include font(bold, 40px, 'UTM BryantLG', 49px, #B2D235);
        }
      }
    }
  }

  .hapo-question {
    .question-logo {
      margin-top: -150px;
    }

    .question-why-left {
      display: flex;
      justify-content: center;
      .hapo-question-body {
        margin-top: -150px;
        .reason {
          @include font(normal, 16px, 'UTM BryantLG', 20px, $mainfootercolor);
          letter-spacing: -0.05em;
          margin-left: 20px;
          margin-top: 15px;
        }
      }

      .hapo-question-body {
        .fontv {
          height: 20px;
        }
      }
    }

    .question-why-right {
      .hapo-why-right {
        height: 259px;
      }
    }
  }

  .hapo-question {
    .why-one {
      .hapo-question-why {
        @include font(bold, 50px, 'UTM BryantLG', 61px, $mainfootercolor);
        margin-top: 37px;
        opacity: 1;
      }
    }

    .why-two {
      margin-top: -60px;
      .hapo-question-title {
        opacity: 0;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .img-logo {
    width: 150px;
    height: auto;
    margin: 0;
    transform: translateY(-100%);
  }
  
  .nav-menu {
    a {
      text-align: center;

      &:hover {
        color: #B2D235;
        background-color: #FFFFFF;
      }
    }
  }

  .banner {
    height: 200px;
    .hapo-banner {
      transform: translateY(100%);
      margin-left: 40px;
      margin-bottom: 5px;
      justify-content: center;
      .banner-learn {
        @include font(normal, 30px, 'UTM BryantLG', 37px, #11114E);
      }

      .banner-title {
        @include font(bold, 30px, 'UTM BryantLG', 37px, #11114E);
        img {
          width: 35px;
          height: 35px;
        }
      }

      .banner-des {
        letter-spacing: -0.05em;
        height: 40px;
        margin-top: 10px;
        @include font(normal, 16px, 'UTM BryantLG', 20px, #505353);
      }

      .btn-start {
        padding: 12px 40px;
        margin-top: 20px;
        @include font(bold, 18px, 'UTM BryantLG', 22px, #FFFFFF);
      }

      a {
        display: flex;
        justify-content: center;
      }
    }
  }

  .footer-menu {
    padding: 15px;
    margin-bottom: 20px;
  }

  .footer-logo {
    img {
      max-width: 80%;
      margin-left: 20px;
    }
  }

  .footer-des {
    order: 3;
    margin-bottom: 50px;
    p {
      margin-left: 25px;
      @include font(normal, 14px, 'UTM BryantLG', 17px, $mainfootercolor);
    }
  }

  .social {
    order: 4;
    margin-bottom: 50px;
    margin-left: -35px;
    a {
      margin-right: -10px;
      margin-top: -15px;
      img {
        width: 30px;
        height: 30px;
      }
      p {
        @include font(normal, 16px, 'UTM BryantLG', 18px, $mainfootercolor);
      }
    }
  }

  .banner-second {
    padding-bottom: 50px;
    .become-title {
      @include font(bold, 23px, 'UTM BryantLG', 28px, $mainfootercolor);
      padding-top: 34px;
      letter-spacing: -0.02em;
    }

    .btn-start-learn {
      padding: 7px;
      margin-top: 15px;
      @include font(bold, 18px, 'UTM BryantLG', 22px, $bannersecondcolor);
      letter-spacing: -0.05em;
      border-radius: 35px;
    }
  }

  .hapo-title {
    margin-top: 50px;
    margin-left: 10px;
    @include font(bold, 40px, 'UTM BryantLG', 49px, $hapotitlecolor);
    .underline {
      border-bottom: 3px solid #B2D235;
      border-radius: 3px;
      padding-bottom: 10px;
    }
  }

  .statistic {
    .statistic-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      .statistic-learn {
        margin-top: 26px;
        letter-spacing: -0.05em;
        span {
          @include font(bold, 40px, 'UTM BryantLG', 49px, #505353);
        }

        p {
          @include font(bold, 40px, 'UTM BryantLG', 49px, #B2D235);
        }
      }
    }
  }

  .hapo-question {
    margin-top: 220px;
    .question-logo {
      margin-top: -100px;
    }

    .question-why-left {
      .hapo-question-body {
        margin-left: 24px;
        .reason {
          @include font(normal, 14px, 'UTM BryantLG', 17px, $mainfootercolor);
          letter-spacing: -0.05em;
          margin-top: 15px;
        }
      }

      .hapo-question-body {
        .fontv {
          height: 18px;
        }
      }
    }

    .question-why-right {
      .hapo-why-right {
        height: 218px;
        margin-left: 30px;
      }
    }
  }

  .hapo-question {
    .why-one {
      .hapo-question-why {
        @include font(bold, 40px, 'UTM BryantLG', 40px, $mainfootercolor);
        margin-top: 30px;
        margin-left: -45px;
        opacity: 1;
      }
    }

    .why-two {
      padding-top: 50px;
      .hapo-question-title {
        opacity: 0;
      }
    }
  }
}
