@import 'variable';
.img-logo {
  height: 70px;
}

.nav-menu {
  li {
    margin: 10px;
  }
  
  a {
    text-transform: uppercase;
    border-radius: 17px;
    @include font(bold,14px,'Open Sans',19px,#505353);
    &:hover {
      background-color: #B2D235;
      color: white ;
    }
  }
}

.banner {
  height: 655px;
  background: url("../image/Rectangle\ 1.png") no-repeat center/cover;
  .hapo-banner {
    margin-left: 35px;
    transform: translateY(70%);
    .banner-learn {
      @include font(normal,50px,'UTM BryantLG',61px,#11114E);
    }
    .banner-title {
      @include font(bold,50px,'UTM BryantLG',61px,#11114E);
    }
    .banner-des {
      letter-spacing: -0.05em;
      height: 50px;
      margin-top: 10px;
      @include font(normal,20px,'UTM BryantLG',25px,#505353);
    }
    .btn-start {
      background: $buttonstartcolor;
      border-radius: 35px;
      -webkit-text-stroke-width: 1px;
      padding: 15px 52px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 25px;
      @include font(normal,30px,'UTM BryantLG',37px,#FFFFFF);
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.main-footer {
  background-color: #505353;
}

.footer-logo {
  display: block;
}

.footer-logo-note {
  @include font(normal,20px,'UTM BryantLG',25px,$mainfootercolor);
  letter-spacing: -0.05em;
  margin-left: 85px;
}

.footer-menu {
  padding: 10px;
  a {
    @include font(bold,20px,'UTM BryantLG',25px,$mainfootercolor);
    letter-spacing: -0.05em;
    text-decoration: none;
    &:hover {
      color: $mainfootercolor;
      text-decoration: underline;
    }
  }
}

.social {
  a {
    margin-left: 25px;
    width: 50px;
    color: $mainfootercolor;
    transition: all ease-in-out .5s;
    &:hover {
      width: 270px;
      cursor: pointer;
      color: $mainfootercolor;
      text-decoration: underline;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    p {
      margin-left: 5px;
      @include font(normal,20px,'UTM BryantLG',25px,$mainfootercolor);
      overflow: hidden;
    }
  }
}

.copy-right {
  background-color: #454545;
  text-align: center;
  p {
    @include font(normal,16px,'UTM BryantLG',18px,$mainfootercolor);
    letter-spacing: -0.05em;
    padding: 5px;
  }
}

.hapo-question {
  background: url('../image/Rectangle\ 17.png') no-repeat center/cover;
  .question-logo {
    margin-top: -225px;
  }
  
  .question-why-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .hapo-question-title {
      @include font(bold,70px,'UTM BryantLG',86px,$mainfootercolor);
      letter-spacing: -0.02em;
      text-align: center;
    }
    
    .hapo-question-body {
      .reason {
        @include font(normal,20px,'UTM BryantLG',25px,$mainfootercolor);
        margin-left: 90px;
        margin-top: 30px;
      }
    }
    
    .hapo-question-body {
      a {
        color: #FFFFFF;
        &hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .question-why-right {
    .hapo-why-right {
      object-fit: cover;
    }
  }
}

.hapo-question {
  .why-one {
    .hapo-question-why {
      opacity: 0;
    }
  }
}

.banner-second {
  padding-bottom: 120px;
  background: url("../image/Group\ 7.png") no-repeat center/cover;
  .become-title {
    @include font(bold,60px,'UTM BryantLG',74px,$mainfootercolor);
    padding-top: 80px;
  }

  .btn-start-learn {
    padding: 10px 30px;
    margin-top: 20px;
    @include font(bold,30px,'UTM BryantLG',37px,$bannersecondcolor);
    background-color: white;
    border-radius: 40px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      opacity: 0.8;
      color: $bannersecondcolor;
      text-decoration: none;
    }
  }
}

.hapo-title {
  margin-top: 80px;
  @include font(bold,80px,'UTM BryantLG',98px,$hapotitlecolor);
  .underline {
  border-bottom: 6px solid #B2D235;
  border-radius: 3px;
  padding-bottom: 10px;
  }
}

.statistic {
  margin-bottom: 50px;
  .statistic-body {
    .statistic-learn {
      margin-top: 50px;
      letter-spacing: -0.05em;
      span{
        @include font(bold,60px,'UTM BryantLG',74px,#505353);
      }
      p{
        @include font(bold,60px,'UTM BryantLG',74px,#B2D235);
      }
    }
  }
}

@import 'responsive';
